<a href="https://colab.research.google.com/github/dmhcc/shoppee/blob/main/Team_Blue_Mecha_Capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TEAM BLUE MECHA CAPSTONE
## Shoppee Dataset
## https://www.kaggle.com/datasets/william2867/shoppee


## **Steps for Cleaning Dataset**
1.   Drop duplicates by image
2.   Sort by label_group
3.   Make directories for each label_group
4.   Add images for each label_group in directory folders
5.   Use IBM Watson API for NLP to translate titles
6.   Add new column to dataset for categories

**bold text**

## Import required libraries

In [1]:
## Import required libraries
import numpy as np
import pandas as pd
import os
from os import listdir
import pathlib
import shutil

## Upload Dataset

In [2]:
## Upload dataset
from google.colab import files
uploaded = files.upload()

Saving train.csv to train.csv

In [3]:
df=pd.read_csv('/content/train.csv')

In [4]:
shoptrain = df.copy()

## Gathering Info on Dataset
- Shape
- Head & Tail
- Column Names
- Dropping Duplicates
- Describing Dataset
- Dataset Info

In [5]:
shoptrain.shape

(34250, 5)

In [6]:
shoptrain.head()

,posting_id,image,image_phash,title,label_group
0,train_129225211,0000a68812bc7e98c42888dfb1c07da0.jpg,94974f937d4c2433,Paper Bag Victoria Secret,249114794
1,train_3386243561,00039780dfc94d01db8676fe789ecd05.jpg,af3f9460c2838f0f,"Double Tape 3M VHB 12 mm x 4,5 m ORIGINAL / DO...",2937985045
2,train_2288590299,000a190fdd715a2a36faed16e2c65df7.jpg,b94cb00ed3e50f78,Maling TTS Canned Pork Luncheon Meat 397 gr,2395904891
3,train_2406599165,00117e4fc239b1b641ff08340b429633.jpg,8514fc58eafea283,Daster Batik Lengan pendek - Motif Acak / Camp...,4093212188
4,train_3369186413,00136d1cf4edede0203f32f05f660588.jpg,a6f319f924ad708c,Nescafe \xc3\x89clair Latte 220ml,3648931069

In [7]:
shoptrain.isnull()

       posting_id  image  image_phash  title  label_group
0           False  False        False  False        False
1           False  False        False  False        False
2           False  False        False  False        False
3           False  False        False  False        False
4           False  False        False  False        False
...           ...    ...          ...    ...          ...
34245       False  False        False  False        False
34246       False  False        False  False        False
34247       False  False        False  False        False
34248       False  False        False  False        False
34249       False  False        False  False        False

[34250 rows x 5 columns]

In [8]:
shoptrain.columns

Index(['posting_id', 'image', 'image_phash', 'title', 'label_group'], dtype='object')

## Dropping Duplicates

In [9]:
shoptrain.sort_values("image", inplace = True)

In [10]:
shoptrain.drop_duplicates(subset = "image",
                          inplace=True)

In [11]:
shoptrain.shape

(32412, 5)

## Sort by column name label_group

In [12]:
# Sorting by column 'label_group'
shoptrain.sort_values(by=['label_group'])

,posting_id,image,image_phash,title,label_group
6738,train_398181303,3301b8aaccea93d1098995ffbc537335.jpg,e9b5833e929e909c,SARUNG CELANA WADIMOR DEWASA HITAM POLOS SARCEL,258047
3874,train_1646767365,1d7aadc7503b2b4539cc9a5fe41979dd.jpg,e925873ed09cd08f,Sarung celana wadimor original 100% dewasa dan...,258047
31859,train_1528423085,eec692257e74fcbc6cb63cb76d0f20e7.jpg,ea97861c926a71e3,WARNA RANDOM ACAK Sarung Celana Wadimor MURAH ...,258047
7613,train_2865605743,3977f4e7a47c73568c5e9fcb61723b4b.jpg,bfc3cc1cc636c14c,Wall Sticker / WallSticker - Submarine Measur...,297977
12367,train_1382500866,5d075d7eaa258052ab125c75c06293d6.jpg,838436c07dff19e4,RELIZA WALL STICKER PENGUKUR TINGGI BADAN JERA...,297977
...,...,...,...,...,...
19942,train_3902879615,95eb770da42f2d9d89c374093a5b49ef.jpg,f6768d802b2b74d4,Plextone G20 Gaming Earphone Sport Earphone He...,4293276364
4554,train_264319412,2254f0b3b2c80b678b41dcd588d77320.jpg,c3cc3c332c7333cc,Baca Buku Ini Saat Engkau Patah Hati : Sesungg...,4294197112
5068,train_2305448044,2620f9c53dfb96b578207b15bc740944.jpg,b3cc9933cc3199cc,Baca Buku Ini Saat Engkau Patah Hati,4294197112
33503,train_3056056584,fa804f0fdf85e2497640ee48ad4bc3d1.jpg,ea93956c934a7ca1,BACA BUKU INI SAAT ENGKAU PATAH HATI: SESUNGGU...,4294197112
6655,train_211794714,325d2bec9a79fa966472229ea0d0b28e.jpg,e3ccc9338c33978c,Baca Buku ini Saat Engkau Patah Hati - Anak Hebat,4294197112

## Value Counts

In [13]:
lg = shoptrain['label_group'].value_counts()
print('Label_Group', 'Value_Count')
lg

Label_Group Value_Count

159351600     50
562358068     49
1163569239    48
994676122     48
1141798720    47
              ..
387288450      1
3781511357     1
2911614562     1
4234542898     1
1464443785     1
Name: label_group, Length: 11012, dtype: int64

## Make directory for each label_group using Pandas For Loop

In [15]:
col = 'label_group'
col2 = 'image'
for value in shoptrain[col]:
  path = f'../C:/Users/dmsta/OneDrive/Desktop/SHOPEE/shoptrain_images/{col, col2}/{value}'
  exists = os.path.exists(path)
  if not exists:
    os.makedirs(path)

## Move images in each label_group to associated label_group directory using Pandas shutil.move() function